<div class="row">
  <div class="col-md-12">
    <h1 i18n="Add Data Protocol header|Add Data Protocol@@addDataProtocol" class="page-header"
      *ngIf="dataProtocolFormView">
      {{addEditText}} Data Protocol
    </h1>
    <!--  <h1 i18n="Edit Data Protocol header|Edit Data Protocol@@editDataProtocol" class="page-header" *ngIf="dataProtocolFormEdit">
            Edit Data Protocol
        </h1> -->
    <h1 i18n="Data Protocol Preview header|Data Protocol Preview@@dataProtocolPreview" class="page-header"
      *ngIf="dataProtocolReadModeView">
      {{addEditText}} Protocol - Preview
    </h1>
    <h1 i18n="View Data Protocol header|View Data Protocol@@viewDataProtocol" class="page-header" *ngIf="protocolView">
      View Data Protocol
    </h1>
  </div>
</div>

<div class="row margin_0px">
  <div class="col-md-12 padding_0px rowBox">
    <div class="padding_Form">
      <!-- Data Protocol form view starts here  -->
      <form [formGroup]="dataProtocolForm" novalidate (ngSubmit)="previewDataProtocol()" *ngIf="dataProtocolFormView">
        <div class="form-group-custom1">
          <legend i18n="Data Protocol Information header|Data Protocol Information@@dataProtocolInformation"
            class="m-b-15">Data Protocol Information</legend>
          <div class="formBodyCustom1" id="dataProtocolDetail">
            <div class="m-form__group row">
              <div class="col-lg-6">
                <label i18n="Name|Name@@name*" class="">Name<span class="text-danger">*</span></label>
                <div class="form-group">
                  <div [ngClass]="{'has-error': ((dataProtocolForm.get('name').touched ||
              dataProtocolForm.get('name').dirty) &&
              dataProtocolForm.get('name').errors)}">
                    <input type="text" id="name" formControlName="name" class="form-control m-input"
                      i18n-placeholder="Data Protocol Name placeholder|Enter Data Protocol Name@@dataProtocolName.placeholder"
                      placeholder="Enter Data Protocol Name">
                    <span class="help-block" *ngIf="((dataProtocolForm.get('name').touched ||
                  dataProtocolForm.get('name').dirty) &&
                  dataProtocolForm.get('name').errors)">
                      <span i18n="Message|Please enter Data Protocol Name@@dataProtocolName.message"
                        *ngIf="dataProtocolForm.get('name').errors.required">
                        Please enter Data Protocol Name
                      </span>
                      <span i18n="Message|Please enter valid Characters@@dataProtocolName.message2"
                        *ngIf="dataProtocolForm.get('name').errors.pattern">
                        Please enter valid Characters
                      </span>
                    </span>
                  </div>
                </div>

                <label i18n='Public Access|Public Access@@publicAccess' class="">Public Access</label>
                <div class="form-group">
                  <mat-checkbox id="isGeneric" formControlName="isGeneric" class="m-input">
                  </mat-checkbox>
                </div>
              </div>
              <div class="col-lg-6">
                <label i18n="Description|Description@@description" class="">Description</label>
                <div class="form-group">
                  <textarea rows="3" id="gatewayModelDecsription" formControlName="description"
                    class="form-control m-input textAreaHeight"
                    i18n-placeholder="Description placeholder|Enter Description@@description.placeholder"
                    placeholder="Enter Description"></textarea>
                </div>
              </div>


            </div>
            <div class="m-form__group row">
              <div class="col-lg-6">
                <label i18n="Communication Protocol Select
                                atleast one|Communication Protocol (Select
                                atleast one)@@communicationProtocolSelect" class="">Communication Protocol (Select
                  atleast one)<span class="text-danger">*
                  </span>
                </label>
                <div class="form-group" *ngIf="commProtocols">
                  <span formArrayName="commProtocols" style="margin-right: 20px;min-width: 100px;float: left;"
                    *ngFor="let commProtocol of dataProtocolForm.get('commProtocols')['controls'];let i=index">
                    <span [formGroupName]="i">
                      <!-- <input type="hidden" formControlName="commProtocolId"
                                                [value]="commProtocols[i].id"> -->
                      <!-- <input type="checkbox" formControlName="commProtocolId" (change)='isSelected(commProtocols[i],$event)'
                      [value]="commProtocols[i].id"> -->
                      <!-- <input type="checkbox" class="protocolCheckBox" formControlName="value"
                                                (change)='isSelected(commProtocols[i],$event)'
                                                [value]='true'>&nbsp;&nbsp;<label
                                                class="labelProtocol">{{commProtocols[i].name}}</label> -->
                      <mat-checkbox formControlName="value" (change)='isSelected(commProtocols[i],i)'>
                      </mat-checkbox>&nbsp;&nbsp;<label class="labelProtocol">{{commProtocols[i].name}}</label>
                    </span>
                  </span>
                  <div class="clearfix" style="display: grid; gap: 2rem;"></div>
                  <span
                    i18n="Message|Please Select atleast one Communication Protocol@@communicationProtocolSelect.message"
                    *ngIf='errorMessage' class="help-block">
                    <span>
                      Please Select atleast one Communication Protocol
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <label i18n="Status|Status@@status">Status</label>
                <div class="form-group">
                  <mat-radio-group formControlName="status">
                    <mat-radio-button value="Active" i18n="Radio button|Active@@active" style="margin-right: 20px;"
                      id="dataProtocolStatusA">
                      Active
                    </mat-radio-button>
                    <mat-radio-button id="dataProtocolStatusI" value="In_Active" i18n="Radio button|InActive@@inActive">
                      In-Active
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="path finalLine"></div>
        <div class="row" style="text-align: right;padding: 23px 0;">
          <div class="col-md-12">
            <a>
              <button type="button" id="cancelTemplate" class="btn btn-default text-center cancelActionButton"
                (click)="cancelDataProtocolForm($event)" i18n="Cancel button|Cancel@@cancel"> Cancel
              </button>
            </a>
            &nbsp;
            <button type="button" id="resetTemplate" class="btn btn-secondary text-center resetActionButton"
              [disabled]="!dataProtocolForm.dirty && dataProtocolForm.pristine" (click)="resetDataProtocolForm()"
              i18n="Reset button|Reset@@reset"> Reset
            </button>
            &nbsp;
            <span i18n-matTooltip="Tooltip validation|Fill the mandatory fields@@fillTheMandatoryFields"
              matTooltip="Please fill the mandatory fields" [matTooltipDisabled]='dataProtocolForm.valid && enableSave'>
              <button i18n="Review&Save button|Review&Save@@review&Save"
                class="btn btn-primary text-center reviewAndSaveActionButton" type="submit"
                [disabled]="!(dataProtocolForm.valid  && enableSave)">
                Review & Save</button>
            </span>
          </div>
        </div>
      </form>
      <!-- Data Protocol form view ends here  -->

      <!-- Data Protocol form read mode view starts here  -->
      <div *ngIf="dataProtocolReadModeView" class="formReadMode">
        <div class="form-group-custom1">
          <legend i18n="Data Protocol Information header|Data Protocol Information@@dataProtocolInformation"
            class="m-b-15">Data Protocol Information</legend>
          <div class="form-row">
            <a (click)="backButton('dataProtocolDetail')" class="edit_section">
              <img src="/assets/img/action/edit.png" alt="edit dataProtocol detail"
                i18n-matTooltip="Image Tooltip|Click to edit Template Detail@@clickToEditTemplateDetail"
                matTooltip="Click to edit Template Detail">
            </a>
            <div class="form-group col-sm-6 col-md-4">
              <label i18n="Data Protocol Name|Data Protocol Name@@dataProtocolName" class="">Data Protocol Name</label>
              <p>
                {{dataProtocol.name | hyphen}}
              </p>
            </div>

            <div class="form-group col-sm-6 col-md-4">
              <label i18n="Description|Description@@description" class="">Description</label>
              <p>
                {{dataProtocol.description | hyphen}}
              </p>
            </div>

            <div class="form-group col-sm-6 col-md-4">
              <label i18n="Public Access|Public Access@@publicAccess" class="">Public Access</label>
              <p *ngIf='dataProtocol.isGeneric'>
                Yes
              </p>
              <p *ngIf='!dataProtocol.isGeneric'>
                No
              </p>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label i18n="Communication Protocol|Communication Protocol@@communicationProtocol" class="">Communication
                Protocol</label>
              <p *ngFor='let commProtocol of selectedCommProtocols'>
                {{commProtocol.name}}
              </p>
            </div>
            <!--  <div class="path"></div> -->
            <div class="form-group col-sm-6 col-md-4">
              <label i18n="Status|Status@@status" class="">Status</label>
              <p *ngIf="dataProtocol.status == 'I'; else activeBlock">
                In-Active
              </p>
              <ng-template #activeBlock>
                <p>
                  {{dataProtocol.status}}
                </p>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="path finalLine"></div>
        <div class="row" style="text-align: right;padding: 23px 0;">
          <div class="col-md-12">
            <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton($event)"
              i18n="Back button|Back@@back">
              Back
            </button>
            &nbsp;
            <button i18n="Save button|Save@@save" class="btn btn-primary text-center saveActionButton" type="submit"
              (click)="createOrUpdateDataProtocol()">
              Save</button>
          </div>
        </div>
      </div>
      <!-- Data Protocol form read mode view ends here  -->

      <!-- Data Protocol view starts here  -->
      <div *ngIf="dataProtocolViewMode">
        <div class="formReadMode">
          <div class="form-group-custom1">
            <legend i18n="Data Protocol Information header|Data Protocol Information@@dataProtocolInformation"
              class="m-b-15">Data Protocol Information</legend>
            <div class="form-row">
              <div class="form-group col-sm-6 col-md-4">
                <label i18n="Data Protocol Name|Data Protocol Name@@dataProtocolName" class="">Data Protocol
                  Name</label>
                <p>
                  {{dataProtocol.name}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label i18n="Description|Description@@description" class="">Description</label>
                <p>
                  {{dataProtocol.description | hyphen}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label i18n="Public Access|Public Access@@publicAccess" class="">Public Acces</label>
                <p *ngIf='dataProtocol.isGeneric'>
                  Yes
                </p>
                <p *ngIf='!dataProtocol.isGeneric'>
                  No
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label i18n="Communication Protocol|Communication Protocol@@communicationProtocol"
                  class="">Communication Protocol</label>
                <p *ngFor='let commProtocol of savedCommProtocols'>
                  {{commProtocol.name}}
                </p>
              </div>
              <!--  <div class="path"></div> -->
              <div class="form-group col-sm-6 col-md-4">
                <label i18n="Status|Status@@status" class="">Status</label>
                <p>
                  {{dataProtocol.status}}
                </p>
              </div>
            </div>
          </div>
          <div class="path finalLine"></div>
          <div class="row" style="    text-align: right;padding: 23px 0;">
            <div class="col-md-12">
              <button type="button" class="btn btn-default text-center backActionButton" (click)="redirectTo()"
                i18n="Back button|Back@@back"> Back
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Data Protocol view ends here  -->
    </div>
  </div>
</div>
<!-- Loader image -->
<div *ngIf="showLoaderImage" class="col-lg-12 loaderImageStyle" style="margin-left:0%; margin-top:0%;margin-bottom:0%;"
  align="center">
  <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%" alt="Loading........">
</div>
<!-- Global modal notification component selector for cancel and final save form-->
<app-modal-notification (modelNotificationWarning)="formResetConfirm()" (modelNotificationSuccess)="redirectTo()">
</app-modal-notification>
