<!-- begin breadcrumb -->

<script>
  $(document).ready(function () {
    $("#myTab li:eq(1) a").tab('show');
  })
</script>
<!-- <ol class="breadcrumb pull-right">
  <li i18n="@@Home" class="breadcrumb-item"><a href="javascript:;">Home</a></li>
  <li i18n="@@Protocol" class="breadcrumb-item"><a href="javascript:;">Protocol</a></li>
  <li i18n="@@ProtocolParameterValueManagement" class="breadcrumb-item active">Protocol Parameter Value Management
  </li>
</ol> -->
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 i18n="Protocol Configuration header|Protocol Configuration@@protocolMasterConfiguration" class="page-header">Protocol Configuration<small></small></h1>
<!-- end page-header -->

<div id="protocolParamValueList">
  <app-protocol-param-value-view>
  </app-protocol-param-value-view>
</div>