<!-- <div class="header_Underline"></div> -->
<!-- begin row -->
<form [formGroup]="dataProtocolCommForm">
  <div class="p-10 mt-n2">
    <label i18n="Tab|Data Protocol Name@@dataProtocolName" class="">Data Protocol Name</label>
    <div class="col-md-4 p-0">
      <input type="text" formControlName="dataProtocolName" class="form-control m-input" readonly>
    </div>
  </div>
</form>
<div class="row">
  <!-- begin col-6 -->
  <div class="col-lg-12">
    <!-- begin nav-tabs -->
    <ngb-tabset type="pills">
      <ngb-tab *ngFor="let dataSubProtocol of dataSubProtocols; let i = index;">
        <ng-template ngbTabTitle class="hidden">
          <span class="d-sm-block" (click)="onChange(dataSubProtocol)">{{dataSubProtocol.commProtocol.name}}</span>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="rowBox">
            <div class="row margin_0px" *ngIf="communicationWriteModeView">
              <div class="col-md-12 padding_0px">
                <div class="padding_Form">
                  <!-- Communication Form Starts Here  -->
                  <form [formGroup]="dataSubProtocolForm" novalidate (ngSubmit)="previewDataSubProtocolForm()">
                    <!-- *ngIf="dataSubProtocolFormView" -->
                    <input type="hidden" formControllerName="commProtocolId"
                      [value]="dataSubProtocol.commProtocol.id" />
                    <div class="form-group-custom1">
                      <!-- <legend i18n="@@CommunicationParameterDetails" class="m-b-15">Communication Parameter Details
                      </legend> -->
                      <div class="formBodyCustom1" id="communicationDetails">
                        <div class=" m-form__group row">
                          <div class="col-lg-6">
                            <label i18n='Data Handler Format|Data Handler Format@@dataHandlerFormat' class="">Data
                              Handler Format<span class="text-danger">
                                *</span></label>
                            <div class="form-group">
                              <div [ngClass]="{'has-error': ((dataSubProtocolForm.get('dataSubProtocolFormatID').touched ||
                              dataSubProtocolForm.get('dataSubProtocolFormatID').dirty) &&
                              dataSubProtocolForm.get('dataSubProtocolFormatID').errors)}">
                              <ejs-dropdownlist id='ddlelement' #ddlelement class="form-control p-0" [value]='dataSubProtocolFormatID'
                              name="dataSubProtocolFormatID" formControlName="dataSubProtocolFormatID" [dataSource]='dataHandlerFormats'
                              [placeholder]='dataHandlerFormatWaterMark' [fields]='dataHandlerFormatFields' [popupHeight]='height'
                              [sortOrder]="sortDropDown" (filtering)='onFilteringDataHandlerFormat($event)'
                              [filterBarPlaceholder]="filterPlaceholder" [allowFiltering]='true'
                              (change)='dataHandlerFormatOnChange($event)' [locale]='locale'></ejs-dropdownlist>

                                <span class="help-block" *ngIf="((dataSubProtocolForm.get('dataSubProtocolFormatID').touched ||
                                dataSubProtocolForm.get('dataSubProtocolFormatID').dirty) &&
                                dataSubProtocolForm.get('dataSubProtocolFormatID').errors)">
                                  <span i18n="Message|Please select Data Handler Format@@dataHandlerFormat.message"
                                    *ngIf="dataSubProtocolForm.get('dataSubProtocolFormatID').errors.required">
                                    Please select Data Handler Format
                                  </span>
                                </span>
                                <span id="DataHandlerFormatValMsg"></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <label i18n='Tag Seperator|Tag Seperator@@tagSeperator' class="">Tag Seperator</label>
                            <div class="form-group">
                              <input type="text" id="dataProtocolTagSeparator"
                                formControlName="dataProtocolTagSeparator" class="form-control m-input"
                                i18n-placeholder='Tag Seperator placeholderEnter Tag Seperator@@tagSeperator.placeholder'
                                placeholder="Enter Tag Seperator">
                            </div>
                          </div>
                        </div>
                        <div class=" m-form__group row">
                          <div class="col-lg-6">
                            <label i18n='Error Check Type|Error Check Type@@errorCheckType' class="">Error Check
                              Type</label>
                            <div class="form-group">
                              <div [ngClass]="{'has-error': ((dataSubProtocolForm.get('errorCheckTypeId').touched ||
                              dataSubProtocolForm.get('errorCheckTypeId').dirty) &&
                              dataSubProtocolForm.get('errorCheckTypeId').errors)}">
                              <ejs-dropdownlist id='ddlelement' #ddlelement class="form-control p-0" [value]='errorCheckTypeId'
                              name="errorCheckTypeId" formControlName="errorCheckTypeId" [dataSource]='errorCheckTypes'
                              [placeholder]='errorCheckTypeWaterMark' [fields]='errorCheckTypeFields' [popupHeight]='height'
                              [sortOrder]="sortDropDown" (filtering)='onFilteringErrorCheckType($event)'
                              [filterBarPlaceholder]="filterPlaceholder" [allowFiltering]='true'
                              (change)='errorCheckTypeOnChange($event)' [locale]='locale'></ejs-dropdownlist>
                             
                                <span class="help-block" *ngIf="((dataSubProtocolForm.get('errorCheckTypeId').touched ||
                                dataSubProtocolForm.get('errorCheckTypeId').dirty) &&
                                dataSubProtocolForm.get('errorCheckTypeId').errors)">
                                  <span i18n="" *ngIf="dataSubProtocolForm.get('errorCheckTypeId').errors.required">
                                    Please select Error Check Type
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <label i18n='Error Check Algorithm|Error Check Algorithm@@errorCheckAlgorithm'
                              class="">Error Check Algorithm</label>
                            <div class="form-group">
                              <div [ngClass]="{'has-error': ((dataSubProtocolForm.get('errorCheckAlgorithmId').touched ||
                              dataSubProtocolForm.get('errorCheckAlgorithmId').dirty) &&
                              dataSubProtocolForm.get('errorCheckAlgorithmId').errors)}">
                              <ejs-dropdownlist id='ddlelement' #ddlelement class="form-control p-0" [value]='errorCheckAlgorithmId'
                              name="errorCheckAlgorithmId" formControlName="errorCheckAlgorithmId" [dataSource]='errorCheckAlgorithms'
                              [placeholder]='errorCheckAlgorithmWaterMark' [fields]='errorCheckAlgorithmFields' [popupHeight]='height'
                              [sortOrder]="sortDropDown" (filtering)='onFilteringErrorCheckAlgorithm($event)'
                              [filterBarPlaceholder]="filterPlaceholder" [allowFiltering]='true'
                              (change)='errorCheckAlgorithmOnChange($event)' [locale]='locale'></ejs-dropdownlist>
                             
                                <span class="help-block" *ngIf="((dataSubProtocolForm.get('errorCheckAlgorithmId').touched ||
                                dataSubProtocolForm.get('errorCheckAlgorithmId').dirty) &&
                                dataSubProtocolForm.get('errorCheckAlgorithmId').errors)">
                                  <span i18n=""
                                    *ngIf="dataSubProtocolForm.get('errorCheckAlgorithmId').errors.required">
                                    Please select Error Check Algorithm
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class=" m-form__group row">
                          <div class="col-lg-6">
                            <label i18n="Start Validator|Start Validator@@startValidator" class="">Start
                              Validator</label>
                            <div class="form-group">
                              <div [ngClass]="{'has-error': ((dataSubProtocolForm.get('startValidator').touched ||
                              dataSubProtocolForm.get('startValidator').dirty) &&
                              dataSubProtocolForm.get('startValidator').errors)}">
                                <input type="text" id="startValidator" formControlName="startValidator"
                                  class="form-control m-input"
                                  (focusout)="validateStartValidatorText($event.target.value)"
                                  i18n-placeholder='Start Validator|Enter Start Validator@@startValidator.placeholder'
                                  placeholder="Enter Start Validator">
                                <span class="help-block" *ngIf="((dataSubProtocolForm.get('startValidator').touched ||
                                dataSubProtocolForm.get('startValidator').dirty) &&
                                dataSubProtocolForm.get('startValidator').errors)">
                                  <span i18n="" *ngIf="dataSubProtocolForm.get('startValidator').errors.required">
                                    Please Enter Start Validator
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>


                          <div class="col-lg-6">
                            <label i18n="End Validator|End Validator@@endValidator" class="">End Validator</label>
                            <div class="form-group">
                              <div [ngClass]="{'has-error': ((dataSubProtocolForm.get('endValidator').touched ||
                              dataSubProtocolForm.get('endValidator').dirty) &&
                              dataSubProtocolForm.get('endValidator').errors)}">
                                <input type="text" id="endValidator" formControlName="endValidator"
                                  class="form-control m-input"
                                  (focusout)="validateEndValidatorText($event.target.value)"
                                  i18n-placeholder='End Validator|Enter End Validator@@endValidator.placeholder'
                                  placeholder="Enter End Validator">
                                <span class="help-block" *ngIf="((dataSubProtocolForm.get('endValidator').touched ||
                                dataSubProtocolForm.get('endValidator').dirty) &&
                                dataSubProtocolForm.get('endValidator').errors)">
                                  <span i18n="" *ngIf="dataSubProtocolForm.get('endValidator').errors.required">
                                    Please Enter End Validator
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class=" m-form__group row">
                          <div class="col-lg-6">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <mat-checkbox formControlName="isStartValidatorCheckEnabled"
                                    class="example-margin commProtocolsClass" [value]="true"
                                    (change)="validateStartValidator($event)">
                                    Enable Start Validator Check
                                  </mat-checkbox>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <mat-checkbox formControlName="isEndValidatorCheckEnabled"
                                    class="example-margin commProtocolsClass" [value]="true"
                                    (change)="validateEndValidator($event)">
                                    Enable End Validator Check
                                  </mat-checkbox>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <mat-checkbox formControlName="isErrorCheckEnabled"
                                    class="example-margin commProtocolsClass" [value]="true"
                                    (change)="validateErrorCheck($event)">
                                    Enable Error Check
                                  </mat-checkbox>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <mat-checkbox formControlName="isLengthCheckEnabled"
                                    class="example-margin commProtocolsClass" [value]="true">
                                    Enable Length Check
                                  </mat-checkbox>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class=" m-form__group row" *ngIf="dataSubProtocol.commProtocol.name=='TCP_IP'">
                          <div class="col-lg-6">
                            <label i18n="TCP Port|TCP Port@@TCPPort" class="">TCP Port<span class="text-danger">
                                *</span></label>
                            <div class="form-group" [ngClass]="{'has-error': ((dataSubProtocolForm.get('commProtocolIdentifierOne').touched ||
                            dataSubProtocolForm.get('commProtocolIdentifierOne').dirty) &&
                            dataSubProtocolForm.get('commProtocolIdentifierOne').errors)}">
                              <input type="text" id="TCPPort" formControlName="commProtocolIdentifierOne"
                                class="form-control m-input" i18n-placeholder='TCP Port|TCP Port@@TCPPort.placeholder'
                                placeholder="Enter Start TCP Port">
                              <span class="help-block" *ngIf="((dataSubProtocolForm.get('commProtocolIdentifierOne').touched ||
                                dataSubProtocolForm.get('commProtocolIdentifierOne').dirty) &&
                                dataSubProtocolForm.get('commProtocolIdentifierOne').errors)">
                                <span i18n="Message|Please enter TCPPort@@TCPPort.message"
                                  *ngIf="dataSubProtocolForm.get('commProtocolIdentifierOne').errors.required">
                                  Please enter TCP Port
                                </span>
                                <span i18n="Message|Please enter valid Characters@@TCPPort.message1"
                                  *ngIf="dataSubProtocolForm.get('commProtocolIdentifierOne').errors.pattern">
                                  Please enter valid Characters
                                </span>
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-6">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="path finalLine"></div>
                    <div class="row" style="text-align: right;padding: 23px 0;">
                      <div class="col-md-12">
                        <button type="button" id="cancelDataSubProtocol"
                          class="btn btn-default text-center cancelActionButton" i18n="Cancel button|Cancel@@cancel"
                          (click)="cancelDataSubProtocolForm()">Cancel</button>
                        &nbsp;
                        <button type="button" i18n="@@Reset" class="btn btn-secondary text-center resetActionButton"
                          [disabled]="!dataSubProtocolForm.dirty && dataSubProtocolForm.pristine || !dataSubProtocolForm.dirty && !dataSubProtocolForm.pristine"
                          (click)="resetDataSubProtocolForm(dataSubProtocol)"
                          i18n="Reset button|Reset@@reset">Reset</button>&nbsp;
                        <span i18n-matTooltip="Tooltip validation|Fill the mandatory fields@@fillTheMandatoryFields"
                          matTooltip="Fill the mandatory fields" [matTooltipDisabled]="dataSubProtocolForm.valid">
                          <button i18n="Review&Save button|Review&Save@@review&Save"
                            class="btn btn-primary text-center reviewAndSaveActionButton" type="submit"
                            [disabled]="!dataSubProtocolForm.valid">
                            Review & Save</button>
                        </span>
                      </div>
                    </div>
                  </form>
                  <!-- Communication Form Ends Here  -->
                </div>
              </div>
            </div>

            <!-- Preview Page For Dynamic Form Starts Here  -->
            <div *ngIf="communicationReadModeView" class="formReadMode">
              <div class="row margin_0px ">
                <div class="col-md-12 padding_0px">
                  <div class="padding_Form">
                    <div class="formReadMode">
                      <div class="form-group-custom1">
                        <legend i18n="Communication Detail header|Communication Detail@@communicationDetail"
                          class="m-b-15">Communication Detail</legend>
                        <div class="form-row">
                          <a (click)="backButton('tenatDetail')" class="edit_section">
                            <img src="/assets/img/action/edit.png" alt="edit communication detail"
                              i18n-matTooltip="Image tooltip|Click to edit Communication Detail@@clickToEditCommunicationDetail"
                              matTooltip="Click to edit Communication Detail">
                          </a>
                          <div class="form-group col-sm-6 col-md-4">
                            <label class="" i18n="Data Handler Format|Data Handler Format@@dataHandlerFormat">Data
                              Handler Format</label>
                            <p *ngFor='let dataHandlerFormat of dataHandlerFormats'>
                              <span
                                *ngIf='dataHandlerFormat.id===parseInt(dataSubProtocolModel.dataSubProtocolFormatID)'>{{dataHandlerFormat.name}}</span>
                            </p>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label class="" i18n="Tag Seperator|Tag Seperator@@tagSeperator">Tag Seperator</label>
                            <p>
                              {{dataSubProtocolModel.dataProtocolTagSeparator | hyphen}}
                            </p>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="Error Check Type|Error Check Type@@errorCheckType" class="">Error Check
                              Type</label>
                            <p *ngIf="dataSubProtocolModel.errorCheckTypeId==null else errorType">
                              {{dataSubProtocolModel.errorCheckTypeId | hyphen}}
                            </p>
                            <ng-template #errorType>
                              <p *ngFor='let errorCheckType of errorCheckTypes'>
                                <span
                                  *ngIf='errorCheckType.id===parseInt(dataSubProtocolModel.errorCheckTypeId)'>{{errorCheckType.name}}</span>
                              </p>
                            </ng-template>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="Error Check Algorithm|Error Check Algorithm@@errorCheckAlgorithm"
                              class="">Error Check Algorithm</label>
                            <p *ngIf="dataSubProtocolModel.errorCheckAlgorithmId==null else errorAlgo">
                              {{dataSubProtocolModel.errorCheckAlgorithmId | hyphen}}
                            </p>
                            <ng-template #errorAlgo>
                              <p *ngFor='let errorCheckAlgorithm of errorCheckAlgorithms'>
                                <span
                                  *ngIf='errorCheckAlgorithm.id===parseInt(dataSubProtocolModel.errorCheckAlgorithmId)'>
                                  {{errorCheckAlgorithm.name}}
                                </span>
                              </p>
                            </ng-template>

                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="Start Validator|Start Validator@@startValidator" class="">Start
                              Validator</label>
                            <p>
                              {{dataSubProtocolModel.startValidator | hyphen}}
                            </p>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="End Validator|End Validator@@endValidator" class="">End Validator</label>
                            <p>
                              {{dataSubProtocolModel.endValidator | hyphen}}
                            </p>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="Enable Start Validator Check|Enable Start Validator Check@@startValidatorCheck"
                              class="">Enable Start Validator Check</label>
                            <span *ngIf="dataSubProtocolModel.isStartValidatorCheckEnabled else startValidator">
                              <p>
                                Yes
                              </p>
                            </span>
                            <ng-template #startValidator>
                              <p>No</p>
                            </ng-template>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="Enable End Validator Check|Enable End Validator Check@@endValidatorCheck"
                              class="">Enable End Validator Check</label>
                            <span *ngIf="dataSubProtocolModel.isEndValidatorCheckEnabled else endValidator">
                              <p>
                                Yes
                              </p>
                            </span>
                            <ng-template #endValidator>
                              <p>No</p>
                            </ng-template>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="Enable Error Check|Enable Error Check@@errorCheck" class="">Enable Error
                              Check</label>
                            <span *ngIf="dataSubProtocolModel.isErrorCheckEnabled else errorCheck">
                              <p>
                                Yes
                              </p>
                            </span>
                            <ng-template #errorCheck>
                              <p>No</p>
                            </ng-template>
                          </div>
                          <div class="form-group col-sm-6 col-md-4">
                            <label i18n="Enable Length Check|Enable Length Check@@lengthCheck" class="">Enable Length
                              Check</label>
                            <span *ngIf="dataSubProtocolModel.isLengthCheckEnabled else lengthCheck">
                              <p>
                                Yes
                              </p>
                            </span>
                            <ng-template #lengthCheck>
                              <p>No</p>
                            </ng-template>
                          </div>
                          <div class="form-group col-sm-6 col-md-4" *ngIf="dataSubProtocol.commProtocol.name=='TCP_IP'">
                            <label i18n="TCP Port|TCP Port@@TCPPort">TCP Port</label>
                            <p>
                              {{dataSubProtocolModel.commProtocolIdentifierOne | hyphen}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="path finalLine"></div>
                      <div class="row" style="    text-align: right;padding: 23px 0;">
                        <div class="col-md-12">
                          <button type="button" class="btn btn-default text-center backActionButton"
                            (click)="backButton($event)" i18n="Back button|Back@@back">
                            Back
                          </button>
                          &nbsp;
                          <button i18n="Save button|Save@@save" class="btn btn-primary text-center saveActionButton"
                            type="submit" (click)="createDataSubProtocol()">
                            Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Preview Page For Dynamic Form Ends Here....  -->

            <div class="path" *ngIf='dataSubProtocolTagsListView'></div>

            <!-- List of Communication Protocol IO Tags Start Here..... -->
            <div id="dataSubProtocolTagsList" *ngIf='dataSubProtocolTagsListView' class="px-2 pb-4">
              <div class="container mat-elevation-z8 panel panel-inverse mb-0" style="position: relative">

                <app-panel-user i18n-name="Panel header|List of Communication Tags@@listOfCommunicationTags"
                  name="List of Communication Tags" #panelHeader
                  (refreshTableList)="refreshTableListFunction();panelHeader.setTableDasourceAsDefault(this.dataSubProtocolTagsDataSource)"
                  (scrollBarDirective)="onPaginateViewScrollToTop()">

                  <!-- Input field for search -->
                  <input searchfield style="display: none;" id="filter" class="form-control m-input ml-2"
                    (keyup)="panelHeader.applyFilter($event.target.value, dataSubProtocolTagsDataSource)"
                    i18n-placeholder="Search|Search placeholder@@search" matInput placeholder="Search.." />

                  <!-- Search button -->
                  <a searchButton href="javascript:;" i18n-matTooltip="Search button|Click to Search@@ClickToSearch"
                    matTooltip="Click to Search" class="btn btn-xs btn-icon btn-circle btn-default"
                    (click)="panelHeader.searchButton(this.dataSubProtocolTagsDataSource)">
                    <i class="fa fa-search"></i>
                  </a>
                  <!-- Add New button -->
                  <a addNewButton href="/data-protocol-comm-tag" [routerLink]="['../data-protocol/data-protocol-comm-tag']"
                    i18n-matTooltip="AddNew button tooltip|Click to Add New@@addNew" matTooltip="Click to Add New"
                    class="btn btn-xs btn-icon btn-circle btn-warning"
                    (click)="setDataProtocolCommData(dataSubProtocol)">
                    <i class="fa fa-plus"></i>
                  </a>



                  <div class="position-relative">
                    <div class="ps position-relative" appScrollbarDirective
                      *ngIf="dataSubProtocolTagsDataSource && dataSubProtocolTagsDataSource.data.length">
                      <ng-container *ngTemplateOutlet="matTableProtocolTags"></ng-container>
                    </div>

                    <div class="table-responsive"
                      *ngIf="!dataSubProtocolTagsDataSource || !dataSubProtocolTagsDataSource.data.length">
                      <ng-container *ngTemplateOutlet="matTableProtocolTags"></ng-container>
                    </div>
                    <!-- Loader image -->
                    <div *ngIf="showLoaderImage" class="col-lg-12 loaderImageStyle"
                      style="margin-left:0%; margin-top:0%;margin-bottom:0%;" align="center">
                      <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%"
                        alt="Loading........">
                    </div> <!-- Loader image -->
                    <h3 i18n="No records found text|No records found@@noRecordsFound" class="text-center noRecordsFound"
                      *ngIf="(NoRecordsFoundDataSubProtocolTag && !showLoaderImage) || (dataSubProtocolTagsDataSource && !dataSubProtocolTagsDataSource.filteredData.length && !showLoaderImage)">
                      No records found!
                    </h3>
                    <ng-conainer>
                      <app-mat-table-paginator [dataSource]="this.dataSource" #myPaginatorChildComponent
                        (paginator)="matTablePaginator($event)" (scrollBarDirective)="onPaginateViewScrollToTop()">
                      </app-mat-table-paginator>

                    </ng-conainer>
                  </div>

                  <ng-template #matTableProtocolTags>
                    <table mat-table [dataSource]="dataSubProtocolTagsDataSource"
                      class="table table-striped table-bordered" matSort>
                      <ng-container matColumnDef="id">
                        <th i18n="Table id|Sno@@sNo" mat-header-cell *matHeaderCellDef>S.No.</th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                          {{ (i+1) }}</td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th i18n="Table|Name@@name" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.dataProtocolTag.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="index">
                        <th i18n="Table|Index@@index" mat-header-cell *matHeaderCellDef mat-sort-header>Index</th>
                        <td mat-cell *matCellDef="let element"> {{element.tagIndex}} </td>
                      </ng-container>
                      <ng-container matColumnDef="length">
                        <th i18n="Table|Length@@length" mat-header-cell *matHeaderCellDef mat-sort-header>Length</th>
                        <td mat-cell *matCellDef="let element"> {{element.tagLength}} </td>
                      </ng-container>
                      <ng-container matColumnDef="lengthUnit">
                        <th i18n="Table|Length Unit@@lengthUnit" mat-header-cell *matHeaderCellDef mat-sort-header>
                          Length Unit</th>
                        <td mat-cell *matCellDef="let element"> {{element.tagLengthUnit}} </td>
                      </ng-container>
                      <ng-container matColumnDef="tagKeyName">
                        <th i18n="Table|Tag key Name@@tagkeyName" mat-header-cell *matHeaderCellDef mat-sort-header>Tag
                          key Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.tagKeyName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="dataFormat">
                        <th i18n="Table|Data Format@@dataFormat" mat-header-cell *matHeaderCellDef mat-sort-header>Data
                          Format</th>
                        <td mat-cell *matCellDef="let element">{{element.dataSubProtocolTagFormatName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="parentTag">
                        <th i18n="Table|Parent Tag@@parentTag" mat-header-cell *matHeaderCellDef mat-sort-header>Parent
                          Tag</th>
                        <td mat-cell *matCellDef="let element">{{element.parentTagName}}</td>
                      </ng-container>
                      <ng-container matColumnDef="action" style="width: 300px;">
                        <th i18n="Table|Action@@action" mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                          <a class="" [routerLink]="['../data-protocol/data-protocol-comm-tag']"
                            (click)="addChildDataSubProtocolTagData(dataSubProtocol,element.id,'view')">
                            <i class="fas fa-md fa-fw m-r-10 fa-eye" alt="view"
                              i18n-matTooltip="View button|Click to View tooltip@@clickToView"
                              matTooltip="Click to View"></i>
                          </a>
                          <a class="" [routerLink]="['../data-protocol/data-protocol-comm-tag']"
                            (click)="addChildDataSubProtocolTagData(dataSubProtocol,element.id,'edit')">
                            <i class="fas fa-md fa-fw m-r-10 fa-edit" alt="edit"
                              i18n-matTooltip="Edit button|Click to Edit tooltip@@clickToEdit"
                              matTooltip="Click to Edit"></i>
                          </a>
                          <a class="" [routerLink]="['../data-protocol/data-protocol-comm-tag']"
                            (click)="addChildDataSubProtocolTagData(dataSubProtocol,element.id,'')">
                            <i class="fas fa-md fa-fw m-r-10 fa-share-square" alt="Add Child Tags"
                              i18n-matTooltip="Child Tag button|Click to Add Child Tag@@clickToManageChildTag"
                              matTooltip="Click to Add Child Tag"></i>
                          </a>
                          <a class="" (click)="deleteDataSubProtocolTag(element);">
                            <i class="fas fa-md fa-fw m-r-10 fa-trash-alt" alt="delete"
                              i18n-matTooltip="Delete button|Click to Delete tooltip@@clickToDelete"
                              matTooltip="Click to Delete"></i>
                          </a>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="dataSubProtocolTagsDisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: dataSubProtocolTagsDisplayedColumns;"></tr>
                    </table>
                  </ng-template>
                </app-panel-user>
              </div>
            </div>

            <!-- List of Communication Protocol IO Tags Ends Here..... -->
            <div class="path" *ngIf='dataSubProtocolDHListView'></div>

            <!-- List of IO Data Handlers starts here... -->
            <div id="dataHandlersList" *ngIf='dataSubProtocolDHListView' class="px-2 pb-2">
              <div class="container mat-elevation-z8 mb-0" style="position: relative">
                <app-panel-user i18n-name="Panel header|List of Data Handlers@@listOfDataHandlers"
                  name="List of Data Handlers" #panelHeader
                  (refreshTableList)="refreshTableListFunction();panelHeader.setTableDasourceAsDefault(this.dataSubProtocolDHDataSource)"
                  (scrollBarDirective)="onPaginateViewScrollToTop()">

                  <!-- Input field for search -->
                  <input searchfield style="display: none;" id="dataSubProtocolDHDataSource"
                    class="form-control m-input ml-2"
                    (keyup)="panelHeader.applyFilter($event.target.value, dataSubProtocolDHDataSource)"
                    i18n-placeholder="Search|Search placeholder@@search" matInput placeholder="Search.." />

                  <!-- Search button -->
                  <a searchButton href="javascript:;" i18n-matTooltip="Search button|Click to Search@@ClickToSearch"
                    matTooltip="Click to Search" class="btn btn-xs btn-icon btn-circle btn-default"
                    (click)="searchButton()">
                    <i class="fa fa-search"></i>
                  </a>
                  <!-- Add New button -->
                  <a addNewButton [routerLink]="['../data-protocol/data-sub-protocol-dh']"
                    i18n-matTooltip="AddNew button tooltip|Click to Add New@@addNew" matTooltip="Click to Add New"
                    class="btn btn-xs btn-icon btn-circle btn-warning"
                    (click)="setDataSubProtocolDataForDH(dataSubProtocol,null,null)">
                    <i class="fa fa-plus"></i>
                  </a>




                  <div class="position-relative">
                    <!-- List View of IO Data Handlers starts here... -->
                    <div class="ps position-relative" appScrollbarDirective
                      *ngIf="dataSubProtocolDHDataSource && dataSubProtocolDHDataSource.data.length">
                      <ng-container *ngTemplateOutlet="matTableProtocolDH"></ng-container>
                    </div>

                    <div class="dh-table-responsive"
                      *ngIf="!dataSubProtocolDHDataSource || !dataSubProtocolDHDataSource.data.length">
                      <ng-container *ngTemplateOutlet="matTableProtocolDH"></ng-container>
                    </div>
                    <!-- Loader image -->
                    <div *ngIf="showLoaderImage" class="col-lg-12"
                      style="margin-left:0%; margin-top:0%;margin-bottom:0%;" align="center">
                      <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%"
                        alt="Loading........">
                    </div>
                    <h3 i18n="No records found text|No records found@@noRecordsFound" class="text-center noRecordsFound"
                      *ngIf="(NoRecordsFoundDataSubProtocolDH && !showLoaderImage) || (dataSubProtocolDHDataSource && !dataSubProtocolDHDataSource.filteredData.length && !showLoaderImage)">
                      No records found!
                    </h3>
                    <ng-conainer>
                      <app-mat-table-paginator [dataSource]="this.dataSubProtocolDHDataSource"
                        #myPaginatorChildComponentDH (paginator)="matTablePaginator($event)"
                        (scrollBarDirective)="onPaginateViewScrollToTop()"></app-mat-table-paginator>
                    </ng-conainer>
                    <!-- List View of IO Data Handlers ends here... -->
                  </div>
                  <ng-template #matTableProtocolDH>
                    <table mat-table [dataSource]="dataSubProtocolDHDataSource"
                      class="table table-striped table-bordered" matSort>
                      <ng-container matColumnDef="id">
                        <th i18n="Table id|Sno@@sNo" mat-header-cell *matHeaderCellDef>S.No.</th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                          {{ (i+1) }}</td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th i18n="Table|Name@@name" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="dhCode">
                        <th i18n="Table|DH Code@@dHCode" mat-header-cell *matHeaderCellDef mat-sort-header>DH Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.dhCode}} </td>
                      </ng-container>
                      <ng-container matColumnDef="operationMode">
                        <th i18n="Table|Operation Mode@@operationMode" mat-header-cell *matHeaderCellDef
                          mat-sort-header> Operation Mode
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.operatioMode}} </td>
                      </ng-container>
                      <ng-container matColumnDef="responseRequired">
                        <th i18n="Table|Response Required@@responseRequired" mat-header-cell *matHeaderCellDef
                          mat-sort-header>Response
                          Required
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.sendResponseStr}} </td>
                      </ng-container>
                      <ng-container matColumnDef="action" style="width: 300px;">
                        <th i18n="Table|Action@@action" mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                          <a class="" [routerLink]="['../data-protocol/data-sub-protocol-dh']"
                            (click)="setDataSubProtocolDataForDH(dataSubProtocol,element.id,'view')">
                            <i class="fas fa-md fa-fw m-r-10 fa-eye" alt="view"
                              i18n-matTooltip="View button|Click to View tooltip@@clickToView"
                              matTooltip="Click to View"></i>
                          </a>
                          <a class="" [routerLink]="['../data-protocol/data-sub-protocol-dh']"
                            (click)="setDataSubProtocolDataForDH(dataSubProtocol,element.id,'edit')">
                            <i class="fas fa-md fa-fw m-r-10 fa-edit" alt="edit"
                              i18n-matTooltip="Edit button|Click to Edit tooltip@@clickToEdit"
                              matTooltip="Click to Edit"></i>
                          </a>
                          <a class="" [routerLink]="['../data-protocol/data-sub-protocol-dh-tag']"
                            (click)="setDataSubProtocolDataForDH(dataSubProtocol,element.id,'dhIOTag')">
                            <i class="fas fa-md fa-fw m-r-10 fa-share-square" alt="Add DH IO Tags"
                              i18n-matTooltip="Manage DH Tags button|Click to Manage DH Tags@@clicktoManageDHTags"
                              matTooltip="Click to Manage DH Tags"></i>
                          </a>
                          <a class="" [routerLink]="['../data-protocol/data-sub-protocol-dh-response-tag']"
                            (click)="setDataSubProtocolDataForDH(dataSubProtocol,element.id,'dhResponseTag')">
                            <i class="fas fa-md fa-fw m-r-10 fa-share-square" alt="Add DH Response Tags"
                              i18n-matTooltip="Manage DH Response Tags button|Click to Manage DH Response Tags@@clickToManageDHResponseTags"
                              matTooltip="Click to Manage DH Response Tags"></i>
                          </a>
                          <a class="" (click)="deleteDataProtocolCommDataHandler(element)">
                            <i class="fas fa-md fa-fw m-r-10 fa-trash-alt" alt="delete"
                              i18n-matTooltip="Delete button|Click to Delete tooltip@@clickToDelete"
                              matTooltip="Click to Delete"></i>
                          </a>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="dataSubProtocolDHdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: dataSubProtocolDHdisplayedColumns;"></tr>
                    </table>
                  </ng-template>
                </app-panel-user>


              </div>
            </div>
            <!-- List of IO Data Handlers ends here... -->
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <!-- end nav-tabs -->
  </div>
  <!-- end col-6 -->
</div>
<!-- end row -->


<app-modal-notification (modelNotificationDanger)="confirmDelete()" (modelNotificationWarning)="alertRedirection()"
  (modelNotificationSuccess)="redirectTo()">
</app-modal-notification>
